<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12 col-12 col-md-12 col-lg-12 p-3">
                <div class="card">
                    <div class="card-header">
                        Edit User
                    </div>
                    <div class="card-body">
                        <form id="edituserform" action="/admin/edit-user/{{editUser._id}}" method="POST">
                            <div class="row">
                                <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="mb-3">
                                        <label for="">First Name</label>
                                        <input type="text" name="firstName" value="{{editUser.firstName}}" class="form-control">
                                    </div>
                                </div>

                                <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="mb-3">
                                        <label for="">Last Name</label>
                                        <input type="text" name="lastName" value="{{editUser.lastName}}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="mb-3">
                                        <label for="">Email Address</label>
                                        <input type="email" name="email" value="{{editUser.email}}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="mb-3">
                                        <label for="">Mobile</label>
                                        <input type="text" name="mobile" maxlength="10" value="{{editUser.mobile}}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="mb-3">
                                        <button type="reset" class="btn btn-secondary px-5 py-2 ms-3 float-end">Reset</button>
                                        <button type="submit" class="btn btn-success px-5 py-2 float-end">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>