<nav class="navbar navbar-expand-lg navbar-light bg-light pe-5 ps-5">
    <div class="container-fluid">
        {{#if admin }}
        <a class="navbar-brand" href="/admin">Movie Ticket Booking</a>
        {{else }}
        <a class="navbar-brand" href="/">Movie Ticket Booking</a>
        {{/if }}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Users</a>
                </li>
            </ul>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{#if adminuser._id}}
                        {{ adminuser.firstName}} {{ adminuser.lastName }}
                    {{else}}
                        Account
                    {{/if}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                    {{#if adminuser}}
                        <a class="dropdown-item" href="/admin/logout">Logout</a>
                        {{else}}
                        <a class="dropdown-item" href="/admin/login">Login</a>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>